@import url("raleway.css");
@import url("segoesl.css");
@import url("font-awesome.min.css");


@keyframes dash {
	to {
	  stroke-dashoffset: 0;
	}
}

@-webkit-keyframes LiveGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes LiveGradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}
@-o-keyframes LiveGradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}
@keyframes LiveGradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}

@-webkit-keyframes FromRight {
  0% {
    -webkit-transform: translateZ(-24px) translateX(20px);
            transform: translateZ(-24px) translateX(20px);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0); 
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes FromRight {
  0% {
    -webkit-transform: translateZ(-24px) translateX(20px);
            transform: translateZ(-24px) translateX(20px);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes FromTop {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes FromTop {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.FromRight {
	-webkit-animation: FromRight 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: FromRight 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.FromTop {
	-webkit-animation: FromTop 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: FromTop 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

html {
  background: linear-gradient(269deg, rgb(1, 12, 27), rgb(4, 10, 26), rgb(2, 9, 31), rgb(2, 3, 17), rgb(3, 3, 41));
  background-size: 1000% 1000%;
  -webkit-animation: LiveGradient 15s ease infinite;
	-moz-animation: LiveGradient 15s ease infinite;
	-o-animation: LiveGradient 15s ease infinite;
	animation: LiveGradient 15s ease infinite;
	-webkit-font-smoothing: antialiased;
}

svg {
  z-index: 20;
  position: fixed;
}

.path-1 {
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
  animation: dash 6s linear;
}

.path-2 {
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
	animation: dash 4s linear;
}

.path-3 {
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
	animation: dash 2.8s linear;
}

.path-4 {
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
	animation: dash 5s linear;
}

.path-5 {
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
	animation: dash 8s linear;
}

.path-6 {
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
	animation: dash 18s linear;
}

.main-page {
  z-index: 1;
  color: aliceblue;
  opacity: 0;
}

li {
  float: left;
  text-align: center;
  padding-right: 40px;
  list-style-type: none;
}

a {
  color: aliceblue;
  text-decoration: none;
}

li a {
  display: inline;
  color: #c7cfff;
}

h1 {
  margin-left: 10%;
  padding-top: 12%;
  font-size: 500%;
  font-family: raleway;
}

p {
  width: 70%;
  margin-left: 10%;
  font-family: segoesl;
  font-size: 150%;
}

.p1 {
  opacity: 0;
}

.p2 {
  margin-top: 36px;
  opacity: 0;
}


.avatar {
  position: relative;
	float: right;
	box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 1);
	border-radius: 50%;
	border: 5px solid #c7cfff;
	margin-top: 12%;
	margin-right: 5%;
  width: 20%;
  opacity: 0;
}

.info {
  position: relative;
  margin-left: 9%;
  margin-top: 5%;
}

.linkedin {
  opacity: 0;
}

.resume {
  opacity: 0;
}

.mail {
  opacity: 0;
}

@media (max-width: 1024px) {

  svg {
    width: 140%;
    margin-top: -10%;
    margin-left: -18%;
  }

  .avatar {
    position: relative;
    float: right;
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 1);
    border-radius: 50%;
    border: 2px solid #c7cfff;
    width: 25%;
    margin-top: 10%;
  }

  h1 {
    margin-left:5%;
    padding-top: 17%;
    font-size: 300%;
    font-family: raleway;
  }

  p { 
    font-size: 120%;
    width: 85%;
    margin-left: 5%;
  }

  .p1 {
    margin-top: 20%;
  }

  .info {
    margin-top: 10%;
  }

  .p1 br {
    display: none;
  }

  ul {
    float: right;
    font-size: 80%;
  }

  @media (max-width: 768px) {
    svg {
      width: 140%;
      margin-top: -85%;
      margin-left: -18%;
    }
  
    .avatar {
      position: relative;
      float: right;
      box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 1);
      border-radius: 50%;
      border: 2px solid #c7cfff;
      width: 30%;
      margin-top: 10%;
    }
  
    h1 {
      margin-left:5%;
      padding-top: 17%;
      font-size: 200%;
      font-family: raleway;
    }
  
    p { 
      font-size: 120%;
      width: 85%;
      margin-left: 5%;
    }
  
    .p1 {
      margin-top: 20%;
    }
  
    .info {
      margin-top: 10%;
    }
  
    p br {
      display: none;
    }
  
    ul {
      float: right;
      font-size: 80%;
    }
  }

}